.vscode
log.txt
initrd
*.save
*.swp
tmp
out
/bin/*
!/bin/orgasm
!/bin/pish
/jabara/src/jbc/jbc
/peel/src/mkdir/mkdir-bootstrap
/peel/src/del/del-bootstrap
/peel/src/rmdir/rmdir-bootstrap
/peel/src/mkdir/mkdir-bootstrap.asm
/peel/src/del/del-bootstrap.asm
/peel/src/rmdir/rmdir-bootstrap.asm
/peel/src/echo/echo-bootstrap.asm
/peel/src/copy/copy-bootstrap
/peel/src/copy/copy-bootstrap.asm
!/bin/jc.psh
!/bin/jc-linux-x86_64.psh
!/bin/jc-fruityos-x86_64.psh

!/bin/juicer
!/bin/concat
!**/out/
!**/out/**/
!**/out/**/.keep
