.vscode
log.txt
initrd
*.save
*.swp
tmp
out
/bin/*
!/bin/bootstrap/
!/bin/bootstrap/linux-x86_64/
!/bin/bootstrap/linux-x86_64/orgasm.elf
!/bin/bootstrap/linux-x86_64/juicer.elf
!/bin/bootstrap/linux-x86_64/concat.elf
!/bin/bootstrap/fruityos-x86_64/
!/bin/bootstrap/fruityos-x86_64/orgasm.fap
!/bin/bootstrap/fruityos-x86_64/juicer.fap
!/bin/bootstrap/fruityos-x86_64/concat.fap
!/bin/pish
!/bin/pish.fap
!/bin/jc.psh
!/bin/jc-linux-x86_64.psh
!/bin/jc-fruityos-x86_64.psh
!/bin/orgasm.psh
!/bin/juicer.psh
!/bin/concat.psh
/jabara/src/jbc/jbc
/peel/src/mkdir/mkdir-bootstrap
/peel/src/del/del-bootstrap
/peel/src/rmdir/rmdir-bootstrap
/peel/src/mkdir/mkdir-bootstrap.asm
/peel/src/del/del-bootstrap.asm
/peel/src/rmdir/rmdir-bootstrap.asm
/peel/src/echo/echo-bootstrap.asm
/peel/src/copy/copy-bootstrap
/peel/src/copy/copy-bootstrap.asm
!**/out/
!**/out/**/
!**/out/**/.keep
